@use "./variables" as *;

body {
  font-family: "Roboto", sans-serif !important;
  background-color: $light_gray !important;
}

h1,
h2,
h3 {
  font-weight: $bold_font !important;
}
h1 {
  font-size: 60px !important;
}
h2 {
  font-size: 48px !important;
}
h3 {
  font-size: 34px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary_blue;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.solved {
  button {
    color: $success;
    background-color: rgba($success, 0.3);
  }
}
.pending {
  button {
    color: $warning;
    background-color: rgba($warning, 0.3);
  }
}
.in-progress {
  button {
    color: $in_progress;
    background-color: rgba($in_progress, 0.3);
  }
}
.canceled {
  button {
    color: $error;
    background-color: rgba($error, 0.3);
  }
}
.closed {
  button {
    color: $meduim_gray;
    background-color: rgba($meduim_gray, 0.3);
  }
}
