$bold_font: 700;
$medium_font: 500;
$regular_font: 400;

$light_blue: #d3fcff;
$primary_blue: #1b6792;
$secondary_blue: #009daa;

$white: #ffffff;
$black: #001011;

$dark_gray: #616363;
$light_gray: #f7f6f6;
$meduim_gray: #b9bcbc;

$error: #fd5158;
$success: #5fd971;
$warning: #ffd360;
$in_progress: #5b8def;

$small_shdow: 0 0 4px rgb(0 0 0 / 80%);
