@use "../../../sass/variables" as *;

.stat-links {
  .item {
    font-size: 12px;
    font-weight: $regular_font;
    cursor: pointer;

    &.active-item {
      background-color: rgba($primary_blue, 0.3) !important;
    }
  }
  .color {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &.Open {
      background-color: $success;
    }
    &.Closed {
      background-color: $meduim_gray;
    }
    &.InProgress {
      background-color: $in_progress;
    }
  }
}
