@use "../../sass/variables" as *;

.issue-title {
  // .user-name {
  //   font-size: 20px;
  //   font-weight: 500;
  // }

  span {
    font-size: 14px;
    font-weight: 500;
    color: $dark_gray;
  }
}
