@use "../../sass/variables" as *;

.teckets-table {
  border-radius: 12px;

  tr {
    span,
    td {
      font-size: 14px;
      vertical-align: middle;
      color: $dark_gray !important;
    }

    button {
      font-size: 14px !important;
      width: 90px;
    }

    &.solved {
      border-left: 4px solid $success;
    }
    &.pending {
      border-left: 4px solid $warning;
    }
    &.in-progress {
      border-left: 4px solid $in_progress;
    }
    &.canceled {
      border-left: 4px solid $error;
    }
    &.closed {
      border-left: 4px solid $error;
    }
  }
}
