@use "../../sass/variables" as *;

.ticket-details {
  border-radius: 12px;

  .title {
    color: $primary_blue;
    font-weight: 500;
  }

  .item {
    .key {
      width: 120px;
      color: $dark_gray;
    }
    .value {

    }
    .avatar {
      width: 28px;
      height: 28px;
      background-color: #68005E;
    }
  }
}   